.DS_Store
.dart_tool/
.packages
.pub/
.idea
.atom
.vscode
.flutter-plugins
build/
*.iml
**/android/
**/ios/
.flutter-plugins-dependencies
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
